* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.pre-icon {
  background: url("../img/preloader.gif") no-repeat center;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 5;
}

#breadcrumb {
  background-image: url(../img/back-pic1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #666666;
  height: 350px;
  width: 100%;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#breadcrumb h1 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
}

#breadcrumb ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#breadcrumb ul li {
  position: relative;
}

#breadcrumb ul li i {
  margin-right: 5px;
}

#breadcrumb ul li:last-of-type {
  color: #dddddd;
  text-decoration: underline;
  padding-left: 15px;
  margin-right: 15px;
}

#breadcrumb ul li:last-of-type::after {
  display: none;
}

#breadcrumb ul li::after {
  content: "";
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  top: 8px;
  right: -3px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

#breadcrumb ul li a {
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  margin: 0 7px;
  padding: 0 7px;
}

#breadcrumb ul li a:hover {
  text-decoration: none;
}

#news {
  background-color: #f7f7f7;
  padding: 120px 0 120px 0;
}

#news .items .item .date {
  position: absolute;
  left: 43px;
  top: 165px;
  height: 70px;
  width: 80px;
  background: #1ebeb6;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 20px 0 20px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 5px 5px 0 5px;
}

#news .items .item .date::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  border-right: 15px solid #1ebeb6;
  border-bottom: 15px solid transparent;
  border-top: 0;
}

#news .items .item .info {
  padding: 30px 30px 20px 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px #e4dfda;
          box-shadow: 0 0 10px #e4dfda;
}

#news .items .item .info .tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#news .items .item .info .tags ul li {
  margin-bottom: 5px;
  color: #1ebeb6;
}

#news .items .item .info .tags ul li a {
  color: #666666;
  font-weight: 400;
  font-size: 15px;
}

#news .items .item .info .tags ul li a:hover {
  text-decoration: none;
}

#news .items .item .info h4 {
  font-size: 22px;
  font-weight: 600;
}

#news .items .item .info h4 a {
  color: #233645;
}

#news .items .item .info h4 a:hover {
  color: #1ebeb6;
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

#news .items .item .info p {
  padding-top: 10px;
  color: #666666;
  font-size: 15px;
  line-height: 30px;
}

#news .items .item .info .bottom {
  margin-top: 25px;
  padding-top: 20px;
  border-top: 1px solid #e7e7e7;
}

#news .items .item .info .bottom ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .items .item .info .bottom ul li a:hover {
  color: #1ebeb6;
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

#news .items .item .info .bottom ul li a img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 6px;
}

#news .items .item .info .bottom ul li a span {
  color: #666666;
  font-size: 15px;
  font-weight: 600;
}

#news .items .item .info .bottom ul li a span:hover {
  color: #1ebeb6;
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

#news .items .item .info .bottom ul li .comments {
  font-size: 15px;
  font-weight: 600;
  color: #666666;
}

#news .items .item .info .bottom ul li .comments i {
  color: #1ebeb6;
}

#news .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
}

#news .pagination li a {
  display: inline-block;
  padding: 15px 20px;
  margin: 5px;
  margin-bottom: 0;
  border-radius: 10px;
  color: #1ebeb6;
}

#news .pagination li a.active {
  color: white;
  background-color: #1ebeb6;
}

footer {
  background: #001d4c;
  padding: 120px 0 0 0;
}

footer .about img {
  margin-bottom: 30px;
}

footer .about p {
  font-size: 15px;
  color: #96aac1;
  line-height: 30px;
  padding-bottom: 10px;
}

footer .about .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .about .address .first-li {
  padding-bottom: 30px;
}

footer .about .address .icon {
  display: inline-block;
}

footer .about .address .icon i {
  color: white;
  font-size: 30px;
  width: 50px;
}

footer .about .address .info {
  display: inline-block;
}

footer .about .address .info h5 {
  color: white;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

footer .about .address .info span {
  color: #96aac1;
}

footer .links h4 {
  color: white;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
}

footer .links ul {
  list-style: none;
}

footer .links ul li {
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
  padding-left: 20px;
}

footer .links ul li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  height: 6px;
  width: 6px;
  background: #96aac1;
  z-index: 1;
  border-radius: 50%;
}

footer .links ul li a {
  color: #96aac1;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
}

footer .links ul li a:hover {
  text-decoration: none;
  color: white;
}

footer .branches {
  background-color: #0d2955;
  padding: 35px;
  margin-left: 15px;
  border-bottom: 2px solid #1ebeb6;
}

footer .branches ul {
  list-style: none;
}

footer .branches ul li strong {
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

footer .branches ul li span {
  color: #96aac1;
  font-size: 15px;
  line-height: 30px;
}

footer .footer-bottom {
  margin-top: 120px;
  border-top: 1px solid #213a64;
  padding: 25px 0 15px 0;
  background-color: #082452;
}

footer .footer-bottom .copyright p {
  font-size: 15px;
  font-weight: 400;
  color: white;
}

footer .footer-bottom .copyright p a {
  font-weight: 600;
  color: white;
}

footer .footer-bottom .social-media ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom .social-media ul li {
  padding-left: 20px;
}

footer .footer-bottom .social-media ul li a {
  font-size: 15px;
  color: white;
  font-weight: 600;
}

footer .footer-bottom .social-media ul li a i {
  padding-right: 5px;
}

footer .footer-bottom .social-media ul li a:hover {
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #breadcrumb h1 {
    font-size: 36px;
  }
  #news {
    padding: 60px 0 60px 0 !important;
  }
  #news .info {
    margin-bottom: 30px;
  }
  #news .pagination {
    padding-top: 50px;
  }
  footer .links-2 {
    margin-top: 40px;
  }
  footer .branches {
    margin-top: 40px !important;
  }
  footer .copyright {
    text-align: center;
  }
  footer .social-media ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #news {
    padding: 60px 0 60px 0 !important;
  }
  #news .info {
    margin-bottom: 30px;
  }
  #news .pagination {
    padding-top: 50px;
  }
  footer .address {
    margin-bottom: 30px;
  }
  footer .links-2 {
    margin-top: 40px;
  }
  footer .branches {
    margin-top: 40px !important;
  }
  footer .copyright {
    text-align: center;
  }
  footer .social-media ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (min-width: 500px) and (max-width: 575.98px) {
  #breadcrumb {
    height: 250px;
  }
  #breadcrumb h1 {
    font-size: 34px;
  }
  #news {
    padding: 60px 0 60px 0 !important;
  }
  #news .info {
    margin-bottom: 30px;
  }
  #news .pagination {
    padding-top: 30px;
  }
  footer {
    padding: 60px 30px 0 20px !important;
  }
  footer .address {
    margin-bottom: 30px;
  }
  footer .links-2 {
    margin-top: 40px;
  }
  footer .branches {
    margin-right: 10px !important;
    margin-top: 40px !important;
  }
  footer .copyright {
    text-align: center;
  }
  footer .social-media ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (min-width: 400px) and (max-width: 450px) {
  #breadcrumb {
    height: 250px;
  }
  #breadcrumb h1 {
    font-size: 34px;
  }
  #news {
    padding: 60px 0 50px 0 !important;
  }
  #news .info {
    margin-bottom: 30px;
  }
  #news .pagination {
    padding-top: 20px;
  }
  footer {
    padding: 60px 30px 0 20px !important;
  }
  footer .address {
    margin-bottom: 30px;
  }
  footer .links-2 {
    margin-top: 40px;
  }
  footer .branches {
    margin-right: 10px !important;
    margin-top: 40px !important;
  }
  footer .copyright {
    text-align: center;
  }
  footer .social-media ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (min-width: 300px) and (max-width: 399.98px) {
  #breadcrumb {
    height: 250px;
  }
  #breadcrumb h1 {
    font-size: 34px;
  }
  #news {
    padding: 60px 0 50px 0 !important;
  }
  #news .info {
    margin-bottom: 30px;
  }
  #news .pagination {
    padding-top: 25px;
  }
  footer {
    padding: 60px 30px 0 20px !important;
  }
  footer .address {
    margin-bottom: 30px;
  }
  footer .links-2 {
    margin-top: 40px;
  }
  footer .branches {
    margin-right: 10px !important;
    margin-top: 40px !important;
  }
  footer .copyright {
    text-align: center;
  }
  footer .social-media ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
/*# sourceMappingURL=blog-3-column.css.map */