* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  height: 60px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

header .covid h6 {
  font-size: 15px;
  color: #976666;
  font-weight: 400;
}

header .covid h6 a {
  color: black;
  text-decoration: underline;
  font-weight: 500;
}

header .header-links a {
  color: black;
  font-weight: 700;
  font-size: 15px;
}

header .header-links a:hover {
  text-decoration: none;
}

header .header-links span {
  padding: 0 15px 0 15px;
  color: #e4e4e4;
  font-weight: 200;
  font-size: 14px;
}

header .social-media a {
  color: black;
  font-size: 15px;
  font-weight: 600;
}

nav {
  height: 90px;
}

nav .website-logo {
  height: 100%;
}

nav .menu {
  position: relative;
  height: 90px;
}

nav .menu ul {
  width: 100%;
}

nav .menu li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

nav .menu li:hover .submenu {
  display: inline-block;
}

nav .menu li .submenu {
  height: 150px;
  width: 250px;
  background-color: white;
  -webkit-box-shadow: 0 -1px 10px #d4cece;
          box-shadow: 0 -1px 10px #d4cece;
  position: absolute;
  top: 90px;
  left: 5px;
  display: none;
  z-index: 1;
}

nav .menu li .submenu ul li {
  padding-left: 15px;
  height: 50px;
}

nav .menu li .submenu ul .first-li {
  border-bottom: 1px solid #e4e4e4;
}

nav .menu li .submenu ul .second-li {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

nav .menu li .submenu ul .third-li {
  border-bottom: 1px solid #e4e4e4;
}

nav .menu li .submenu ul .fourth-li {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

nav .menu li .submenu ul .sixth-li {
  border-top: 1px solid #e4e4e4;
}

nav .menu li .submenu-2 {
  position: absolute;
  top: 90px;
  left: 95px;
}

nav .menu li .submenu-3 {
  height: 200px;
  position: absolute;
  top: 90px;
  left: 193px;
}

nav .menu li .submenu-4 {
  height: 100px;
  position: absolute;
  top: 90px;
  left: 345px;
}

nav .menu li .submenu-5 {
  height: 300px;
  position: absolute;
  top: 90px;
  left: 465px;
}

nav .menu li a {
  color: black;
  font-size: 13px;
  font-weight: 600;
}

nav .menu li a:hover {
  text-decoration: none;
  color: #1ebeb6;
}

nav .contact {
  height: 100%;
}

nav .contact p {
  font-weight: 600;
  font-size: 12px;
  color: #787878;
}

nav .contact p span {
  font-size: 18px;
  font-weight: 800;
  color: #666666;
}

nav .contact i {
  color: #1ebeb6;
  font-size: 46px;
  padding-right: 11px;
}

main #banner {
  background-image: url(../img/doctors1.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #banner::after {
  content: "";
  position: absolute;
  top: 150px;
  left: 0;
  height: 102.3%;
  width: 100%;
  background-color: rgba(38, 39, 39, 0.6);
}

main #banner .block h4 {
  color: white;
}

main #banner .block h1 {
  color: white;
}

main #entry {
  padding: 120px 0 120px 0;
  background-color: #ffffff;
}

main #entry .box i {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 40px;
  color: #1ebeb6;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

main #entry .box i::after {
  position: absolute;
  left: -10px;
  top: -10px;
  content: "";
  height: 120px;
  width: 120px;
  background: url(https://webhunt.store/themeforest/healdi/assets/img/shape/3.svg);
  background-size: contain;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
}

main #entry .box h4 {
  font-size: 22px;
  font-weight: 600;
}

main #entry .box p {
  color: #767676;
  font-size: 15px;
  line-height: 28px;
  border-bottom: 1px dashed #cccccc;
}

main #entry .box .phone span {
  color: #767676;
}

main #entry .box .phone p {
  color: #666666;
  font-size: 15px;
  font-weight: 600;
  border: none;
}

main #entry .doctor-pic {
  position: relative;
  z-index: 1;
}

main #entry .doctor-pic::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 300px;
  width: 300px;
  background: #1ebeb6;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

main #entry .doctor-pic::before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 350px;
  width: 350px;
  background: #1ebeb6;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.1;
}

main #entry .doctor-pic img {
  vertical-align: middle;
}

main #about {
  background-color: #f7f7f7;
  padding: 120px 0 160px 0;
  position: relative;
}

main #about .play-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #272626c2;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

main #about .shape {
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
}

main #about .doctor-pic2 img {
  vertical-align: middle;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

main #about .doctor-pic2 .video-box {
  position: absolute;
  right: 20px;
  bottom: -50px;
  background: #ffffff;
  padding: 50px 30px;
  left: 120px;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #about .doctor-pic2 .video-box .video {
  padding-right: 30px;
  z-index: 10;
}

main #about .doctor-pic2 .video-box .video a i {
  height: 68px;
  width: 68px;
  line-height: 68px;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  background-color: #1ebeb6;
  font-size: 25px;
  color: white;
  margin-left: 10px;
}

main #about .doctor-pic2 .video-box .video a i::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 16.5%;
  top: 44%;
  background-color: #1ebeb6;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  -webkit-animation: video-btn-anim 1.8s ease-out infinite;
          animation: video-btn-anim 1.8s ease-out infinite;
}

@-webkit-keyframes video-btn-anim {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes video-btn-anim {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

main #about .doctor-pic2 .video-box .text h5 {
  color: #233645;
  font-size: 20px;
}

main #about h5 {
  color: #21bfb7;
  font-weight: 600;
  font-size: 18px;
}

main #about h2 {
  font-weight: 600;
}

main #about p {
  color: #767676;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
}

main #about ul {
  list-style: none;
}

main #about ul li {
  padding-top: 5px;
  width: 100%;
}

main #about ul li .content h5 {
  font-weight: 600;
  font-size: 18px;
}

main #about ul li .content h5 a {
  color: #233645;
}

main #about ul li .content h5 a:hover {
  text-decoration: none;
}

main #about .btnn {
  padding: 19px 25px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  background: -webkit-gradient(linear, left top, right top, from(#1ebeb6), to(#6a8d8b));
  background: linear-gradient(90deg, #1ebeb6 0%, #6a8d8b 100%);
  border-radius: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

main #about .btnn i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #ffffff;
  color: #1ebeb6;
  margin-left: 0;
  margin-right: 5px;
  text-align: center;
  font-size: 14px;
}

main #about .btnn:hover {
  text-decoration: none;
}

main #services {
  padding-bottom: 120px;
  background-color: #f7f7f7;
  position: relative;
  z-index: 1;
}

main #services .shape img {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 55px;
  height: 100%;
  width: 100%;
}

main #services .services-caption {
  padding-bottom: 60px;
}

main #services .services-caption h4 {
  color: #1ebeb6;
  font-weight: 600;
  font-size: 22px;
}

main #services .services-caption h2 {
  display: inline-block;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 0;
  position: relative;
  letter-spacing: 1px;
  color: #233645;
}

main #services .services-caption h2::before {
  background: #1ebeb6 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 40px;
}

main #services .services-caption h2::after {
  background: #1ebeb6 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  margin-left: 20px;
  position: absolute;
  width: 5px;
}

main #services .services-caption p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0 20px;
  color: #666666;
}

main #services .item {
  -webkit-box-shadow: 0 0 10px #e7e7e7;
          box-shadow: 0 0 10px #e7e7e7;
  background: #ffffff;
  overflow: hidden;
  z-index: 0;
}

main #services .item .img-box {
  margin: 10px;
  margin-bottom: 0;
}

main #services .item .info {
  padding: 30px;
  position: relative;
}

main #services .item .info::after {
  content: "";
  height: 150px;
  width: 150px;
  position: absolute;
  right: -50px;
  bottom: -80px;
  background: url(../img/shape2.png);
  background-size: contain;
  z-index: 0;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0.3;
}

main #services .item .info h4 {
  margin-bottom: 15px;
}

main #services .item .info h4 a {
  color: #233645;
  font-size: 22px;
  font-weight: 700;
}

main #services .item .info p {
  font-size: 15px;
  line-height: 30px;
  color: #666666;
}

main #services .item .info .slide-footer p {
  color: #525252;
}

main #services .item .info .slide-footer p strong {
  color: #232323;
  font-weight: 600;
}

main #services .item .info .link a i {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#1ebeb6), to(#00827c));
  background: linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  color: #ffffff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

main #services .item .info .link a i::after {
  content: "";
  opacity: 0.5;
  position: absolute;
  left: -10%;
  top: -10%;
  height: 120%;
  width: 120%;
  border-radius: 50%;
  background-color: #1ebeb6;
  z-index: -1;
}

main #consultation {
  padding: 120px 0 120px 0;
}

main #consultation .main-holder {
  padding-right: 30px;
}

main #consultation .main-holder .text h2 {
  font-weight: 600;
  margin-bottom: 25px;
  color: #233645;
}

main #consultation .main-holder .text p {
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 30px;
  color: #666666;
}

main #consultation .main-holder .consult-item {
  padding: 35px;
  text-align: center;
  border: 2px solid #1ebeb6;
}

main #consultation .main-holder .consult-item i {
  color: #1ebeb6;
  font-size: 55px;
  display: inline-block;
  margin-bottom: 25px;
}

main #consultation .main-holder .consult-item h5 {
  color: #233645;
  font-size: 18px;
  font-weight: 600;
}

main #consultation .appoinment-box {
  background: #1ebeb6;
  padding: 60px 37px;
  position: relative;
}

main #consultation .appoinment-box:after {
  content: "";
  position: absolute;
  left: -30px;
  top: -30px;
  height: 100%;
  width: 100%;
  background: #1ebeb6;
  z-index: -1;
  opacity: 0.2;
}

main #consultation .appoinment-box .header {
  text-align: center !important;
}

main #consultation .appoinment-box .header h4 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 60px;
  position: relative;
}

main #consultation .appoinment-box .header h4::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -60px;
  height: 100%;
  width: 30%;
  background: url(../img/devider-light.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main #consultation .appoinment-box form .form-group {
  margin-bottom: 16px;
}

main #consultation .appoinment-box form .form-group .form-control {
  color: #ffffff;
  font-size: 16px;
  border-radius: 30px;
  min-height: 50px;
  background: #35c5bd;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 25px;
}

main #consultation .appoinment-box form .form-group select {
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background: #35c5bd;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  text-align: left !important;
  margin-bottom: 15px;
  padding: 0 25px;
  outline: none;
}

main #consultation .appoinment-box form .form-group select option {
  background-color: #f6f6f6;
  color: black;
  font-weight: bold;
  height: 40px !important;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  border: none;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main #consultation .appoinment-box form .form-group select option:hover {
  background-color: #D2F2F0;
}
/*# sourceMappingURL=style.css.map */