* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 60px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

header .covid h6 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #976666;
  font-weight: 400;
}

header .covid h6 a {
  color: black;
  text-decoration: underline;
  font-weight: 500;
}

header .header-links a {
  color: black;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

header .header-links a:hover {
  text-decoration: none;
}

header .header-links span {
  padding: 0 15px 0 15px;
  color: #e4e4e4;
  font-weight: 200;
  font-size: 14px;
}

header .social-media a {
  color: black;
  font-size: 15px;
  font-weight: 600;
}

nav {
  height: 90px;
}

nav .website-logo {
  height: 100%;
}

nav .menu {
  position: relative;
  height: 90px;
}

nav .menu ul {
  width: 100%;
}

nav .menu li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

nav .menu li:hover .submenu {
  display: inline-block;
}

nav .menu li .submenu {
  height: 150px;
  width: 250px;
  background-color: white;
  -webkit-box-shadow: 0 -1px 10px #d4cece;
          box-shadow: 0 -1px 10px #d4cece;
  position: absolute;
  top: 90px;
  left: 5px;
  display: none;
  z-index: 1;
}

nav .menu li .submenu ul li {
  padding-left: 15px;
  height: 50px;
}

nav .menu li .submenu ul .first-li {
  border-bottom: 1px solid #e4e4e4;
}

nav .menu li .submenu ul .second-li {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

nav .menu li .submenu ul .third-li {
  border-bottom: 1px solid #e4e4e4;
}

nav .menu li .submenu ul .fourth-li {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

nav .menu li .submenu ul .sixth-li {
  border-top: 1px solid #e4e4e4;
}

nav .menu li .submenu-2 {
  position: absolute;
  top: 90px;
  left: 95px;
}

nav .menu li .submenu-3 {
  height: 200px;
  position: absolute;
  top: 90px;
  left: 193px;
}

nav .menu li .submenu-4 {
  height: 100px;
  position: absolute;
  top: 90px;
  left: 345px;
}

nav .menu li .submenu-5 {
  height: 300px;
  position: absolute;
  top: 90px;
  left: 465px;
}

nav .menu li a {
  color: black;
  font-size: 13px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

nav .menu li a:hover {
  text-decoration: none;
  color: #1ebeb6;
}

nav .contact {
  height: 100%;
}

nav .contact p {
  font-weight: 600;
  font-size: 12px;
  color: #787878;
  font-family: "Inter", sans-serif;
}

nav .contact p span {
  font-size: 18px;
  font-weight: 800;
  color: #666666;
}

nav .contact i {
  color: #1ebeb6;
  font-size: 46px;
  padding-right: 11px;
}

main #best-doctors {
  background-image: url(../img/doctors1.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #best-doctors::after {
  content: "";
  position: absolute;
  top: 150px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(38, 39, 39, 0.6);
}
/*# sourceMappingURL=style.css.map */