// importing partials and reused sections
@import "../scss/partials/extends";
@import "../scss/reused_parts/header";
@import "../scss/reused_parts/navbar";
@import "../scss/reused_parts/common-features";
@import "../scss/reused_parts/loader";
@import "../scss/reused_parts/footer";
@import "../scss/reused_parts/about";
@import "../scss/reused_parts/testimonials";
@import "../scss/reused_parts/departments-services";
@import "../scss/reused_parts/breadcrumb";


// main start
main {
  overflow: hidden;
  // services-section start
  #services {
    padding-top: 100px;
    padding-bottom: 90px;
    background-color: rgb(255, 255, 255);
    .services-caption {
      padding-bottom: 40px;
      h4 {
        color: #1ebeb6;
        font-weight: 600;
        font-size: 22px;
      }
      h2 {
        display: inline-block;
        font-weight: 600;
        padding-bottom: 20px;
        margin-bottom: 0;
        position: relative;
        letter-spacing: 1px;
        color: #233645;
        &::before {
          background: #1ebeb6 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 2px;
          left: 50%;
          margin-left: -25px;
          position: absolute;
          width: 40px;
        }
        &::after {
          background: #1ebeb6 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 2px;
          left: 50%;
          margin-left: 20px;
          position: absolute;
          width: 5px;
        }
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 30px;
        padding: 0 20px;
        color: #666666;
      }

      @extend %section-header;
    }
  }
  // services-section end

  // choose-us section start
  #choose-us {
    .bg-cover {
      background-image: url(../img/doctor3.jpg);
      height: 100%;
      width: 100% !important;
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat;
    }
    .info-box-holder {
      padding: 120px 0 100px 0;
      .info-box {
        padding: 80px 50px;
        background: #ffffff;
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
        position: relative;
        left: -120px;
        border-bottom: 3px solid #1ebeb6;
        &::after {
          position: absolute;
          right: -120px;
          top: -120px;
          content: "";
          height: 300px;
          width: 300px;
          background: url(../img/dotted-shape.png);
          z-index: -1;
          background-repeat: no-repeat;
          opacity: 0.2;
        }
        h5 {
          color: #1ebeb6;
          font-weight: 600;
          margin-bottom: 25px;
          font-size: 20px;
        }
        h2 {
          font-weight: 600;
          margin-bottom: 25px;
          font-size: 32px;
        }
        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          li {
            display: flex;
            flex-direction: column;
            padding: 0 15px;
            width: 50%;
            margin-top: 20px;
            padding-left: 35px;
            position: relative;
            z-index: 1;
            i {
              content: "";
              position: absolute;
              left: 0;
              top: 5px;
              color: #1ebeb6;
              font-weight: 600;
            }
            h5 {
              color: #233645;
              font-weight: 600;
            }
            p {
              font-size: 15px;
              line-height: 30px;
              color: #666666;
            }
          }
        }
        .par {
          padding-bottom: 30px;
        }
        .btn2 {
          height: 100%;
          width: 100%;
          border-radius: 4px;
          background: linear-gradient(
            90deg,
            rgba(30, 190, 182, 1) 0%,
            rgba(0, 130, 124, 1) 100%
          );
          z-index: 1;
          color: #ffffff;
          padding: 20px 25px;
          font-weight: 700;
          transition: 0.3s linear;
          overflow: hidden;
          font-size: 17px;
          i {
            font-size: 14px;
            height: 30px;
            background: #ffffff;
            color: #1ebeb6;
            line-height: 30px;
            text-align: center;
            width: 30px;
            border-radius: 50%;
            margin-right: 5px;
            &:hover {
              text-decoration: none !important;
            }
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  // choose-us section end

  // team section start
  #team {
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 90px;
    .caption {
      padding-bottom: 40px;
      h4 {
        color: #1ebeb6;
        font-weight: 600;
        font-size: 22px;
      }
      h2 {
        display: inline-block;
        font-weight: 600;
        padding-bottom: 20px;
        margin-bottom: 0;
        position: relative;
        letter-spacing: 1px;
        color: #233645;
        &::before {
          background: #1ebeb6 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 2px;
          left: 50%;
          margin-left: -25px;
          position: absolute;
          width: 40px;
        }
        &::after {
          background: #1ebeb6 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 2px;
          left: 50%;
          margin-left: 20px;
          position: absolute;
          width: 5px;
        }
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 30px;
        padding: 0 20px;
        color: #666666;
      }

      @extend %section-header;
    }
    .item {
      margin-bottom: 30px;
      .img-box{
        width: 100% !important;
        img{
          width: 100%;
        }
      }
      .contact {
        background: linear-gradient(
          90deg,
          rgba(30, 190, 182, 1) 0%,
          rgba(0, 130, 124, 1) 100%
        );
        position: absolute;
        left: 50%;
        bottom: 136px;
        transform: translate(-50%, 0);
        padding: 10px 25px 0 25px;
        border-radius: 30px;
        ul {
          list-style: none;
          li {
            display: inline-flex;
            margin: 0 5px;
            position: relative;
            padding: 0 5px;
            &:first-of-type {
              &::after {
                content: "";
                position: absolute;
                right: -7px;
                top: 5px;
                height: 18px;
                width: 1px;
                background: rgba(255, 255, 255, 0.7);
              }
            }
            a {
              padding-top: 3px;
              color: white;
            }
          }
        }
      }
      .info {
        padding: 30px;
        padding-top: 50px;
        background-color: white;
        h5 {
          font-size: 20px;
          color: #233645;
          font-weight: 600;
          margin-bottom: 10px;
        }
        span {
          font-size: 15px;
          color: #1ebeb6;
          font-weight: 600;
        }
      }
    }
  }
  // team section end
}
// main end



// ======= Responsive Design Start ======= //
@media (min-width: 992px) and (max-width: 1199.98px) {
  #team{
    .item{
      .contact{
        padding: 10px 20px 0 20px !important;
      }
      .info{
        padding: 50px 22px 30px !important;
        h5{
          font-size: 18px !important;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #about {
    padding: 120px 0 125px 0 !important;
  }

  #choose-us {
    max-width: 722px;
    width: 100%;
    margin: auto;
    padding: 0px 15px;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        width: 105%;
        position: relative;
        top: -120px !important;
        left: -19px !important;
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #about {
    padding: 50px 0 230px !important;
  }

  #services {
    padding: 70px 0 90px !important;
  }

  #choose-us {
    max-width: 540px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        width: 105%;
        position: relative;
        top: -120px !important;
        left: -12px !important;
        ul {
          margin-bottom: 40px;
          li {
            width: 100%;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #about {
    padding: 50px 0 235px 0 !important;
  }

  #services {
    padding: 60px 0 70px !important;
  }

  #choose-us {
    max-width: 540px;
    width: 100%;
    margin: auto;
    padding: 0 30px;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
      vertical-align: middle;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        h2 {
          font-size: 26px !important;
        }
        padding: 60px 30px !important;
        width: calc(100% + 29px) !important;
        position: relative;
        top: -120px !important;
        left: -15px !important;
        ul {
          margin-bottom: 40px;
          width: 100% !important;
          display: flex;
          flex-direction: column;
          li {
            width: 100% !important;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 374.98px) {
  #about {
    padding: 50px 0 255px 0 !important;
  }

  #services{
    padding: 60px 0 !important;

    .services-caption{
      padding-bottom: 25px !important;
    }
  }

  #choose-us {
    max-width: 540px;
    width: 100%;
    margin: auto;
    padding: 0 30px;
    overflow: hidden;

    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
      vertical-align: middle;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        h2 {
          font-size: 24px !important;
        }
        padding: 45px 26px 60px !important;
        width: calc(100% + 29px) !important;
        position: relative;
        top: -120px !important;
        left: -14px !important;
        ul {
          margin-bottom: 40px;
          width: 100% !important;
          display: flex;
          flex-direction: column;
          li {
            width: 100% !important;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }

  #team{
    padding: 70px 0 60px !important;
  }
}
// ======= Responsive Design End ======= //
