@import "../scss/reused_parts/header";
@import "../scss/reused_parts/navbar";
@import "../scss/reused_parts/common-features";
@import "../scss/reused_parts/loader";
@import "../scss/reused_parts/footer";
@import "../scss/reused_parts/about";
@import "../scss/reused_parts/testimonials";


// main start
main {
  // breadcrumb-section start
  #breadcrumb {
    background-image: url(../img/back-pic1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #666666;
    height: 350px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    h1 {
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 15px;
      text-align: center;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      li {
        i {
          margin-right: 5px;
        }
        &:last-of-type {
          color: #dddddd;
          text-decoration: underline;
          padding-left: 15px;
          margin-right: 15px;
          &::after {
            display: none;
          }
        }
        position: relative;
        &::after {
          content: "";
          font-weight: 600;
          color: #ffffff;
          position: absolute;
          top: 8px;
          right: -3px;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          border: 2px solid rgba(255, 255, 255, 0.7);
        }
        a {
          font-weight: 600;
          font-size: 14px;
          display: inline-block;
          color: #ffffff;
          margin: 0 7px;
          padding: 0 7px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  // breadcrumb-section end

  // services-section start
  #services {
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: white;
    position: relative;
    z-index: 1;
    .services-caption {
      padding-bottom: 60px;
      h4 {
        color: #1ebeb6;
        font-weight: 600;
        font-size: 22px;
      }
      h2 {
        display: inline-block;
        font-weight: 600;
        padding-bottom: 20px;
        margin-bottom: 0;
        position: relative;
        letter-spacing: 1px;
        color: #233645;
        &::before {
          background: #1ebeb6 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 2px;
          left: 50%;
          margin-left: -25px;
          position: absolute;
          width: 40px;
        }
        &::after {
          background: #1ebeb6 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 2px;
          left: 50%;
          margin-left: 20px;
          position: absolute;
          width: 5px;
        }
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 30px;
        padding: 0 20px;
        color: #666666;
      }
    }
    .item-box {
      // margin-right: 20px;
      .item {
        width: 100%;
        padding: 50px 30px 50px;
        box-shadow: inset -1px -1px 10px #e7e7e7;
        text-align: center;
        .info {
          h4 {
            margin-bottom: 40px;
            a {
              color: #233645;
              font-weight: 700;
              font-size: 22px;
              &:hover {
                text-decoration: none;
              }
            }
          }
          p {
            color: #666666;
            font-size: 15px;
            line-height: 30px;
          }
          .btn {
            margin-top: 15px;
            font-weight: 700;
            padding: 10px 25px;
            font-size: 14px;
            border-radius: 40px;
            color: #1ebeb6 !important;
            border: 2px solid #1ebeb6 !important;
            &:hover {
              background-color: #1ebeb6;
              color: white !important;
              transition: 0.3s linear;
              i {
                background-color: white;
                color: #1ebeb6;
                transition: 0.3s linear;
              }
            }
            i {
              height: 30px;
              background: #1ebeb6;
              color: white;
              line-height: 30px;
              width: 30px;
              border-radius: 50%;
              margin-left: 0;
              margin-right: 5px;
            }
          }
          .icon {
            img {
              width: 55%;
              position: absolute;
              left: 20px;
              top: 20px;
            }
            display: inline-block;
            font-size: 40px !important;
            margin-bottom: 35px;
            position: relative;
            z-index: 1;
            color: #ffffff;
            height: 90px;
            width: 90px;
            line-height: 90px;
            &::before {
              content: "";
              position: absolute;
              left: -10%;
              top: -10%;
              height: 120%;
              width: 120%;
              background: url(../img/shape7.png);
              z-index: 1 !important;
              border-radius: 50%;
              opacity: 0.3;
              background-size: contain;
              background-repeat: no-repeat;
              transition: all 0.35s ease-in-out;
            }
            &::after {
              position: absolute;
              left: 3%;
              top: 2%;
              content: "";
              height: 95%;
              width: 95%;
              background: #1ebeb6;
              z-index: -1;
              border-radius: 50%;
            }
          }
        }
      }
    }
    button {
      margin-top: 20px;
      outline: none;

      span {
        display: block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        border-radius: 50%;
        background: #ffffff;
        position: relative;
        z-index: 1;
        border: 2px solid #cccccc;
      }
    }
    .owl-dot.active span {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        height: 5px;
        width: 5px;
        transform: translate(-50%, -50%);
        background: #1ebeb6;
        border-radius: 50%;
      }
    }
  }
  // services-section end

  // choose-us section start
  #choose-us {
    .bg-cover {
      background-image: url(../img/doctor3.jpg);
      height: 970px;
      width: 100% !important;
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat;
    }
    .info-box-holder {
      padding: 120px 0 100px 0;
      .info-box {
        padding: 80px 50px;
        background: #ffffff;
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
        position: relative;
        left: -120px;
        border-bottom: 3px solid #1ebeb6;
        &::after {
          position: absolute;
          right: -120px;
          top: -120px;
          content: "";
          height: 300px;
          width: 300px;
          background: url(../img/dotted-shape.png);
          z-index: -1;
          background-repeat: no-repeat;
          opacity: 0.2;
        }
        h5 {
          color: #1ebeb6;
          font-weight: 600;
          margin-bottom: 25px;
          font-size: 20px;
        }
        h2 {
          font-weight: 600;
          margin-bottom: 25px;
          font-size: 32px;
        }
        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          li {
            display: flex;
            flex-direction: column;
            padding: 0 15px;
            width: 50%;
            margin-top: 20px;
            padding-left: 35px;
            position: relative;
            z-index: 1;
            i {
              content: "";
              position: absolute;
              left: 0;
              top: 5px;
              color: #1ebeb6;
              font-weight: 600;
            }
            h5 {
              color: #233645;
              font-weight: 600;
            }
            p {
              font-size: 15px;
              line-height: 30px;
              color: #666666;
            }
          }
        }
        .par {
          padding-bottom: 30px;
        }
        .btn2 {
          height: 100%;
          width: 100%;
          border-radius: 4px;
          background: linear-gradient(
            90deg,
            rgba(30, 190, 182, 1) 0%,
            rgba(0, 130, 124, 1) 100%
          );
          z-index: 1;
          color: #ffffff;
          padding: 20px 25px;
          font-weight: 700;
          transition: 0.3s linear;
          overflow: hidden;
          font-size: 17px;
          i {
            font-size: 14px;
            height: 30px;
            background: #ffffff;
            color: #1ebeb6;
            line-height: 30px;
            text-align: center;
            width: 30px;
            border-radius: 50%;
            margin-right: 5px;
            &:hover {
              text-decoration: none !important;
            }
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  // choose-us section end

  // team section start
  #team {
    background-color: #f7f7f7;
    padding-top: 120px;
    padding-bottom: 120px;
    .caption {
      padding-bottom: 60px;
      h4 {
        color: #1ebeb6;
        font-weight: 600;
        font-size: 22px;
      }
      h2 {
        display: inline-block;
        font-weight: 600;
        padding-bottom: 20px;
        margin-bottom: 0;
        position: relative;
        letter-spacing: 1px;
        color: #233645;
        &::before {
          background: #1ebeb6 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 2px;
          left: 50%;
          margin-left: -25px;
          position: absolute;
          width: 40px;
        }
        &::after {
          background: #1ebeb6 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 2px;
          left: 50%;
          margin-left: 20px;
          position: absolute;
          width: 5px;
        }
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 30px;
        padding: 0 20px;
        color: #666666;
      }
    }
    .contact {
      background: linear-gradient(
        90deg,
        rgba(30, 190, 182, 1) 0%,
        rgba(0, 130, 124, 1) 100%
      );
      position: absolute;
      left: 50%;
      bottom: 106px;
      transform: translate(-50%, 0);
      padding: 10px 25px 0 25px;
      border-radius: 30px;
      ul {
        list-style: none;
        li {
          display: inline-flex;
          margin: 0 5px;
          position: relative;
          padding: 0 5px;
          &:first-of-type {
            &::after {
              content: "";
              position: absolute;
              right: -7px;
              top: 5px;
              height: 18px;
              width: 1px;
              background: rgba(255, 255, 255, 0.7);
            }
          }
          a {
            padding-top: 3px;
            color: white;
          }
        }
      }
    }
    .info {
      padding: 30px;
      padding-top: 50px;
      background-color: white;
      h5 {
        font-size: 20px;
        color: #233645;
        font-weight: 600;
        margin-bottom: 10px;
      }
      span {
        font-size: 15px;
        color: #1ebeb6;
        font-weight: 600;
      }
    }
  }
  // team section end
}
// main end



// ======= Responsive Design Start ======= //
@media (min-width: 768px) and (max-width: 991.98px) {
  #choose-us {
    padding: 0px 45px;
    overflow: hidden;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        width: 105%;
        position: relative;
        top: -120px !important;
        left: -19px !important;
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #choose-us {
    padding: 0px 45px;
    overflow: hidden;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        width: 105%;
        position: relative;
        top: -120px !important;
        left: -19px !important;
        ul {
          margin-bottom: 40px;
          li {
            width: 100%;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #choose-us {
    padding: 0px 45px;
    overflow: hidden;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
      vertical-align: middle;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        h2 {
          font-size: 26px !important;
        }
        padding: 50px 0 50px 20px;
        width: 111%;
        position: relative;
        top: -120px !important;
        left: -19px !important;
        ul {
          margin-bottom: 40px;
          width: 100% !important;
          display: flex;
          flex-direction: column;
          li {
            width: 100% !important;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 374.98px) {
  #choose-us {
    padding: 0px 45px;
    overflow: hidden;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
      vertical-align: middle;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        h2 {
          font-size: 24px !important;
        }
        padding: 50px 0 50px 20px;
        width: 111%;
        position: relative;
        top: -120px !important;
        left: -19px !important;
        ul {
          margin-bottom: 40px;
          width: 100% !important;
          display: flex;
          flex-direction: column;
          li {
            width: 100% !important;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }
}
// ======= Responsive Design End ======= //