* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

// navbar-sticky position start
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
// navbar-sticky position end

// reload-img start
.pre-icon {
  background: url("../img/preloader.gif") no-repeat center;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 999;
}
// reload-img end

// header start
header {
  display: flex;
  align-items: center;
  height: 60px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  .covid {
    h6 {
      font-size: 15px;
      color: #976666;
      font-weight: 400;
      a {
        color: black;
        text-decoration: underline;
        font-weight: 500;
      }
    }
  }

  .header-links {
    a {
      color: black;
      font-weight: 700;
      font-size: 15px;
      &:hover {
        text-decoration: none;
      }
    }

    span {
      padding: 0 15px 0 15px;
      color: #e4e4e4;
      font-weight: 200;
      font-size: 14px;
    }
  }
  .social-media {
    a {
      color: black;
      font-size: 15px;
      font-weight: 600;
    }
  }
}
// header end

// nav start
nav {
  z-index: 50;
  height: 90px;
  .website-logo {
    height: 100%;
  }
  .nav-button {
    display: none;
  }
  .menu {
    position: relative;
    height: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
    ul {
      width: 100%;
    }
    li {
      list-style: none;
      display: flex;
      align-items: center;
      height: 90px;
      &:hover .submenu {
        display: inline-block;
      }
      a.active{
        color: #1ebeb6;
      }
      .submenu {
        height: 150px;
        width: 250px;
        background-color: white;
        box-shadow: 0 -1px 10px #d4cece;
        position: absolute;
        top: 90px;
        left: 5px;
        display: none;
        z-index: 1;
        ul {
          li {
            padding-left: 15px;
            height: 50px;
          }
          .first-li {
            border-bottom: 1px solid #e4e4e4;
          }
          .second-li {
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
          }
          .third-li {
            border-bottom: 1px solid #e4e4e4;
          }
          .fourth-li {
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
          }
          .sixth-li {
            border-top: 1px solid #e4e4e4;
          }
        }
      }
      .submenu-2 {
        position: absolute;
        top: 90px;
        left: 95px;
      }
      .submenu-3 {
        height: 200px;
        position: absolute;
        top: 90px;
        left: 193px;
      }
      .submenu-4 {
        height: 100px;
        position: absolute;
        top: 90px;
        left: 345px;
      }
      .submenu-5 {
        height: 300px;
        position: absolute;
        top: 90px;
        left: 465px;
      }
    }
    li a {
      color: black;
      font-size: 13px;
      font-weight: 600;
      &:hover {
        text-decoration: none;
        color: #1ebeb6;
        transition: 0.3s linear;
      }
    }
  }
  .contact {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      font-weight: 600;
      font-size: 12px;
      color: #787878;
      span {
        font-size: 18px;
        font-weight: 800;
        color: #666666;
      }
    }
    i {
      color: #1ebeb6;
      font-size: 46px;
      padding-right: 11px;
    }
  }
}
// nav end

// main start
main{
// breadcrumb-section start
#breadcrumb {
  background-image: url(../img/back-pic1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #666666;
  height: 350px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  h1 {
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
      i {
        margin-right: 5px;
      }
      &:last-of-type {
        color: #dddddd;
        text-decoration: underline;
        padding-left: 15px;
        margin-right: 15px;
        &::after {
          display: none;
        }
      }
      position: relative;
      &::after {
        content: "";
        font-weight: 600;
        color: #ffffff;
        position: absolute;
        top: 8px;
        right: -3px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.7);
      }
      a {
        font-weight: 600;
        font-size: 14px;
        display: inline-block;
        color: #ffffff;
        margin: 0 7px;
        padding: 0 7px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
// breadcrumb-section end

// about-section start
#about {
  background-color: #f7f7f7;
  padding: 120px 0 160px 0;
  position: relative;

  .play-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #272626c2;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }
  .shape {
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .doctor-pic2 {
    padding-right: 60px;
    img {
      vertical-align: middle;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
    .video-box {
      position: absolute;
      right: 20px;
      bottom: -50px;
      background: #ffffff;
      padding: 50px 30px;
      left: 120px;
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
      display: flex;
      align-items: center;
      .video {
        padding-right: 30px;
        z-index: 10;
        a {
          i {
            height: 68px;
            width: 68px;
            line-height: 68px;
            border-radius: 50%;
            text-align: center;
            z-index: 10;
            background-color: #1ebeb6;
            font-size: 25px;
            color: white;
            margin-left: 10px;
            &::after {
              content: "";
              position: absolute;
              z-index: -1;
              left: 16.5%;
              top: 50%;
              background-color: #1ebeb6;
              transform: translateX(-50%) translateY(-50%);
              height: 75px;
              width: 75px;
              border-radius: 50%;
              animation: video-btn-anim 1.8s ease-out infinite;
            }
          }

          @keyframes video-btn-anim {
            0% {
              transform: translateX(-50%) translateY(-50%) translateZ(0)
                scale(1);
              opacity: 1;
            }

            100% {
              transform: translateX(-50%) translateY(-50%) translateZ(0)
                scale(1.5);
              opacity: 0;
            }
          }
        }
      }
      .text {
        h5 {
          color: #233645;
          font-size: 20px;
        }
      }
    }
  }
  .text-sec {
    h5 {
      color: #21bfb7;
      font-weight: 600;
      font-size: 18px;
    }
    h2 {
      font-weight: 600;
    }
    p {
      color: #767676;
      line-height: 30px;
      font-size: 15px;
      font-weight: 400;
    }
    ul {
      list-style: none;
      li {
        padding-top: 5px;
        width: 100%;
        .icon {
          margin-right: 18px;
        }
        .content {
          h5 {
            font-weight: 600;
            font-size: 18px;
            a {
              color: #233645;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    .btnn {
      padding: 19px 25px;
      color: white;
      font-weight: 700;
      font-size: 17px;
      background: linear-gradient(
        90deg,
        rgba(30, 190, 182, 1) 0%,
        rgba(106, 141, 139, 1) 100%
      );
      border-radius: 0;
      transition: 0.3s linear;
      i {
        height: 30px;
        width: 30px;
        line-height: 30px;
        border-radius: 50%;
        background: #ffffff;
        color: #1ebeb6;
        margin-left: 0;
        margin-right: 5px;
        text-align: center;
        font-size: 14px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
// about-section end

// services-section start
#services {
  padding-bottom: 120px;
  padding-top: 120px;
  background-color: white;
  position: relative;
  z-index: 1;
  .services-caption {
    padding-bottom: 60px;
    h4 {
      color: #1ebeb6;
      font-weight: 600;
      font-size: 22px;
    }
    h2 {
      display: inline-block;
      font-weight: 600;
      padding-bottom: 20px;
      margin-bottom: 0;
      position: relative;
      letter-spacing: 1px;
      color: #233645;
      &::before {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        width: 40px;
      }
      &::after {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: 20px;
        position: absolute;
        width: 5px;
      }
    }
    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 30px;
      padding: 0 20px;
      color: #666666;
    }
  }
  .item-box {
    // margin-right: 20px;
    .item {
      width: 100%;
      padding: 50px 30px 50px;
      box-shadow: inset -1px -1px 10px #e7e7e7;
      text-align: center;
      .info {
        h4 {
          margin-bottom: 40px;
          a {
            color: #233645;
            font-weight: 700;
            font-size: 22px;
            &:hover {
              text-decoration: none;
            }
          }
        }
        p {
          color: #666666;
          font-size: 15px;
          line-height: 30px;
        }
        .btn {
          margin-top: 15px;
          font-weight: 700;
          padding: 10px 25px;
          font-size: 14px;
          border-radius: 40px;
          color: #1ebeb6 !important;
          border: 2px solid #1ebeb6 !important;
          &:hover {
            background-color: #1ebeb6;
            color: white !important;
            transition: 0.3s linear;
            i {
              background-color: white;
              color: #1ebeb6;
              transition: 0.3s linear;
            }
          }
          i {
            height: 30px;
            background: #1ebeb6;
            color: white;
            line-height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-left: 0;
            margin-right: 5px;
          }
        }
        .icon {
          img {
            width: 55%;
            position: absolute;
            left: 20px;
            top: 20px;
          }
          display: inline-block;
          font-size: 40px !important;
          margin-bottom: 35px;
          position: relative;
          z-index: 1;
          color: #ffffff;
          height: 90px;
          width: 90px;
          line-height: 90px;
          &::before {
            content: "";
            position: absolute;
            left: -10%;
            top: -10%;
            height: 120%;
            width: 120%;
            background: url(../img/shape7.png);
            z-index: 1 !important;
            border-radius: 50%;
            opacity: 0.3;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.35s ease-in-out;
          }
          &::after {
            position: absolute;
            left: 3%;
            top: 2%;
            content: "";
            height: 95%;
            width: 95%;
            background: #1ebeb6;
            z-index: -1;
            border-radius: 50%;
          }
        }
      }
    }
  }
  button {
    margin-top: 20px;
    outline: none;

    span {
      display: block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      border-radius: 50%;
      background: #ffffff;
      position: relative;
      z-index: 1;
      border: 2px solid #cccccc;
    }
  }
  .owl-dot.active span {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      height: 5px;
      width: 5px;
      transform: translate(-50%, -50%);
      background: #1ebeb6;
      border-radius: 50%;
    }
  }
}
// services-section end

// choose-us section start
#choose-us {
  .bg-cover {
    background-image: url(../img/doctor3.jpg);
    height: 970px;
    width: 100% !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
  }
  .info-box-holder {
    padding: 120px 0 100px 0;
    .info-box {
      padding: 80px 50px;
      background: #ffffff;
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
      position: relative;
      left: -120px;
      border-bottom: 3px solid #1ebeb6;
      &::after {
        position: absolute;
        right: -120px;
        top: -120px;
        content: "";
        height: 300px;
        width: 300px;
        background: url(../img/dotted-shape.png);
        z-index: -1;
        background-repeat: no-repeat;
        opacity: 0.2;
      }
      h5 {
        color: #1ebeb6;
        font-weight: 600;
        margin-bottom: 25px;
        font-size: 20px;
      }
      h2 {
        font-weight: 600;
        margin-bottom: 25px;
        font-size: 32px;
      }
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
          display: flex;
          flex-direction: column;
          padding: 0 15px;
          width: 50%;
          margin-top: 20px;
          padding-left: 35px;
          position: relative;
          z-index: 1;
          i {
            content: "";
            position: absolute;
            left: 0;
            top: 5px;
            color: #1ebeb6;
            font-weight: 600;
          }
          h5 {
            color: #233645;
            font-weight: 600;
          }
          p {
            font-size: 15px;
            line-height: 30px;
            color: #666666;
          }
        }
      }
      .par {
        padding-bottom: 30px;
      }
      .btn2 {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: linear-gradient(
          90deg,
          rgba(30, 190, 182, 1) 0%,
          rgba(0, 130, 124, 1) 100%
        );
        z-index: 1;
        color: #ffffff;
        padding: 20px 25px;
        font-weight: 700;
        transition: 0.3s linear;
        overflow: hidden;
        font-size: 17px;
        i {
          font-size: 14px;
          height: 30px;
          background: #ffffff;
          color: #1ebeb6;
          line-height: 30px;
          text-align: center;
          width: 30px;
          border-radius: 50%;
          margin-right: 5px;
          &:hover {
            text-decoration: none !important;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
// choose-us section end

// team section start
#team {
  background-color: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 120px;
  .caption {
    padding-bottom: 60px;
    h4 {
      color: #1ebeb6;
      font-weight: 600;
      font-size: 22px;
    }
    h2 {
      display: inline-block;
      font-weight: 600;
      padding-bottom: 20px;
      margin-bottom: 0;
      position: relative;
      letter-spacing: 1px;
      color: #233645;
      &::before {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        width: 40px;
      }
      &::after {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: 20px;
        position: absolute;
        width: 5px;
      }
    }
    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 30px;
      padding: 0 20px;
      color: #666666;
    }
  }
  .contact {
    background: linear-gradient(
      90deg,
      rgba(30, 190, 182, 1) 0%,
      rgba(0, 130, 124, 1) 100%
    );
    position: absolute;
    left: 50%;
    bottom: 106px;
    transform: translate(-50%, 0);
    padding: 10px 25px 0 25px;
    border-radius: 30px;
    ul {
      list-style: none;
      li {
        display: inline-flex;
        margin: 0 5px;
        position: relative;
        padding: 0 5px;
        &:first-of-type {
          &::after {
            content: "";
            position: absolute;
            right: -7px;
            top: 5px;
            height: 18px;
            width: 1px;
            background: rgba(255, 255, 255, 0.7);
          }
        }
        a {
          padding-top: 3px;
          color: white;
        }
      }
    }
  }
  .info {
    padding: 30px;
    padding-top: 50px;
    background-color: white;
    h5 {
      font-size: 20px;
      color: #233645;
      font-weight: 600;
      margin-bottom: 10px;
    }
    span {
      font-size: 15px;
      color: #1ebeb6;
      font-weight: 600;
    }
  }
}
// team section end

// testomonials-section start
#testomonials {
  overflow-x: hidden;
  .caption {
    padding: 220px 0 220px 218px;
    background-color: #1ebeb6;
    .icon {
      position: absolute;
      left: 238px;
      top: 145px;
      font-weight: 600;
      font-size: 120px;
      opacity: 0.2;
      color: #ffffff;
    }
    h5 {
      color: #ffffff;
      font-weight: 700;
      margin-bottom: 25px;
      font-size: 20px;
    }
    h2 {
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 28px;
      font-size: 32px;
    }
    a {
      background: white;
      z-index: 1;
      color: #233645;
      padding: 12px 25px;
      font-weight: 700;
      transition: 0.3s linear;
      overflow: hidden;
      font-size: 14px;
      border-radius: 4px;
      &:hover {
        text-decoration: none;
      }
      i {
        font-size: 14px;
        height: 30px;
        background-color: #1ebeb6;
        color: white;
        line-height: 30px;
        text-align: center;
        width: 30px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
  .owl-theme {
    margin-left: 35px;
    margin-top: 120px;
    .item {
      box-shadow: inset -1px -1px 10px #e7e7e7 !important;
      margin-bottom: 10px;
      text-align: center !important;
      padding: 50px 30px;
      .img-box {
        img {
          border-radius: 50%;
          height: 80px;
          width: 80px;
          margin: auto auto 30px;
        }
      }
      h5 {
        font-size: 20px;
        font-weight: 600;
        color: #233645;
        margin-bottom: 5px;
      }
      span {
        font-size: 12px;
        color: #838383;
        strong {
          color: #1ebeb6;
        }
      }
      p {
        padding-top: 15px;
        font-size: 15px;
        line-height: 30px;
        color: #838383;
      }
    }
  }
  button {
    margin-top: 20px;
    outline: none;

    span {
      display: block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      border-radius: 50%;
      background: #ffffff;
      position: relative;
      z-index: 1;
      border: 2px solid #cccccc;
    }
  }
  .owl-dot.active span {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      height: 5px;
      width: 5px;
      transform: translate(-50%, -50%);
      background: #1ebeb6;
      border-radius: 50%;
    }
  }
}
// testomonials-section end

// footer start
 footer {
  background: #001d4c;
  padding: 120px 0 0 0;
  .about {
    img {
      margin-bottom: 30px;
    }
    p {
      font-size: 15px;
      color: #96aac1;
      line-height: 30px;
      padding-bottom: 10px;
    }
    .address {
      display: flex;
      .first-li {
        padding-bottom: 30px;
      }
      .icon {
        display: inline-block;
        i {
          color: white;
          font-size: 30px;
          width: 50px;
        }
      }
      .info {
        display: inline-block;
        h5 {
          color: white;
          margin-bottom: 10px;
          font-weight: 600;
          font-size: 18px;
        }
        span {
          color: #96aac1;
        }
      }
    }
  }
  .links {
    h4 {
      color: white;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 22px;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 15px;
        position: relative;
        z-index: 1;
        padding-left: 20px;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 12px;
          height: 6px;
          width: 6px;
          background: #96aac1;
          z-index: 1;
          border-radius: 50%;
        }
        a {
          color: #96aac1;
          font-weight: 600;
          font-size: 15px;
          line-height: 30px;
          &:hover {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
  .branches {
    background-color: #0d2955;
    padding: 35px;
    margin-left: 15px;
    border-bottom: 2px solid #1ebeb6;
    ul {
      list-style: none;
      li {
        strong {
          font-size: 15px;
          display: block;
          margin-bottom: 5px;
          color: #ffffff;
        }
        span {
          color: #96aac1;
          font-size: 15px;
          line-height: 30px;
        }
      }
    }
  }
  .footer-bottom {
    margin-top: 120px;
    border-top: 1px solid #213a64;
    padding: 25px 0 15px 0;
    background-color: #082452;
    .copyright {
      p {
        font-size: 15px;
        font-weight: 400;
        color: white;
        a {
          font-weight: 600;
          color: white;
        }
      }
    }
    .social-media {
      ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
          padding-left: 20px;
          a {
            font-size: 15px;
            color: white;
            font-weight: 600;
            i {
              padding-right: 5px;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
// footer end
}
// main end


// ----- WEB-SITE RESPONSIVE START -----

// tablet layout start
@media (min-width: 768px) and (max-width: 991.98px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 70px 0 30px 0;
    background-color: white;
  }
  header {
    height: 137px;
    margin-top: -32px;
    margin-bottom: 20px !important;
    .covid {
      text-align: center;
    }
    .header-links {
      position: absolute;
      top: 5px;
      left: 174px;
      width: 38%;
      display: inline-block !important;
    }
    .social-media {
      a {
        padding-left: 20px;
      }
      position: absolute;
      top: 5px;
      left: 424px;
      width: 38%;
      display: inline-block !important;
    }
  }
  nav {
    height: 50px !important;
    position: relative;
    .nav-button {
      display: inline-block !important;
      position: absolute;
      left: 50px;
      bottom: 4px;
    }
    .menu {
      padding-left: 55px !important;
      padding-right: 55px !important;
      padding-top: 25px;
      position: absolute;
      left: -9px;
      bottom: -310px;
      height: 300px;
      width: 103%;
      background-color: white;
      display: none;
      .submenu {
        position: absolute;
        top: 24px !important;
        left: 200px !important;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px !important;
        li {
          height: 45px;
        }
        :not(:last-of-type) {
          border-bottom: 1px solid LightGray;
        }
      }
    }
    .website-logo {
      width: 150px;
      display: inline-block;
      position: absolute;
      right: 290px;
      bottom: 14px;
    }
    .contact {
      position: absolute;
      right: 50px;
      bottom: 14px;
      width: 200px;
    }
  }
  #about {
    .text-sec {
      margin-top: 100px !important;
    }
    .doctor-pic2 {
      padding-left: 70px !important;
    }
    .doctor-pic2 .video-box .video a i {
      &::after {
        left: 12% !important;
      }
    }
  }
  #choose-us {
    padding: 0px 45px;
    overflow: hidden;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        width: 105%;
        position: relative;
        top: -120px !important;
        left: -19px !important;
        &::after {
          display: none;
        }
      }
    }
  }
  #testomonials {
    overflow: hidden;
    padding-bottom: 60px;
    .caption {
      text-align: center;
      padding: 220px 0 220px 4px !important;
      .icon {
        position: absolute !important;
        left: 342px !important;
      }
    }
    .owl-carousel {
      margin-left: 0 !important;
    }
  }
  footer {
    .links-2 {
      margin-top: 40px;
    }
    .branches {
      margin-top: 40px !important;
    }
    .copyright {
      text-align: center;
    }
    .social-media {
      ul {
        display: flex !important;
        justify-content: center !important;
      }
    }
  }
}
// tablet layout end

// phone layout start
@media (min-width: 576px) and (max-width: 767.98px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 90px 0 30px 0;
    background-color: white;
  }
  header {
    height: 137px;
    margin-top: -32px;
    margin-bottom: 20px !important;
    .covid {
      text-align: center;
    }
    .header-links {
      position: absolute;
      top: 5px;
      left: 174px;
      width: 38%;
      display: inline-block !important;
    }
    .social-media {
      a {
        padding-left: 20px;
      }
      position: absolute;
      top: 5px;
      left: 424px;
      width: 38%;
      display: inline-block !important;
    }
  }
  nav {
    height: 50px !important;
    position: relative;
    .nav-button {
      display: inline-block !important;
      position: absolute;
      left: 50px;
      bottom: 4px;
    }
    .menu {
      padding-left: 55px !important;
      padding-right: 55px !important;
      padding-top: 25px;
      position: absolute;
      left: -9px;
      bottom: -310px;
      height: 300px;
      width: 103%;
      background-color: white;
      display: none;
      .submenu {
        position: absolute;
        top: 24px !important;
        left: 200px !important;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px !important;
        li {
          height: 45px;
        }
        :not(:last-of-type) {
          border-bottom: 1px solid LightGray;
        }
      }
    }
    .website-logo {
      width: 150px;
      display: inline-block;
      position: absolute;
      right: 290px;
      bottom: 14px;
    }
    .contact {
      position: absolute;
      right: 50px;
      bottom: 14px;
      width: 200px;
    }
  }
  #about {
    width: 100% !important;
    padding: 50px 0 230px 110px !important;
    .text-sec {
      padding-right: 126px;
      width: 100% !important;
      margin-top: 330px !important;
      text-align: center;
      h5 {
        font-weight: 600;
        color: black;
        font-size: 16px;
      }
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 14px !important;
      }
      ul {
        position: absolute;
        bottom: -115px;
        left: 18px;
        width: 440px;
        li {
          margin-left: 10px;
          .icon {
            img {
              margin-right: -1px;
            }
          }
          .content {
            h5 {
              font-size: 14px !important;
            }
          }
        }
      }
      .btnn {
        position: absolute;
        bottom: -148px;
        right: 220px;
      }
    }
    .doctor-pic2 {
      padding-right: 0px !important;
      img {
        width: 456px;
        clip-path: none !important;
      }
      .video-box {
        margin-right: 20px;
        width: 456px;
        height: 270px;
        left: 0 !important;
        bottom: -298px !important;
        text-align: center !important;
        .text {
          margin-top: 100px;
          h5 {
            font-size: 16px;
          }
          p {
            font-size: 15px;
          }
        }
        .video {
          position: absolute;
          left: 180px;
          top: 42px;
          .play-btn {
            a {
              i {
                &::after {
                  left: 40% !important;
                }
              }
            }
          }
        }
      }
    }
    .doctor-pic2 .video-box .video a i {
      &::after {
        left: 12% !important;
      }
    }
  }
  #choose-us {
    padding: 0px 45px;
    overflow: hidden;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        width: 105%;
        position: relative;
        top: -120px !important;
        left: -19px !important;
        ul {
          margin-bottom: 40px;
          li {
            width: 100%;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }
  #testomonials {
    overflow: hidden;
    padding-bottom: 60px;
    .caption {
      text-align: center;
      padding: 220px 0 220px 4px !important;
      .icon {
        position: absolute !important;
        left: 342px !important;
      }
    }
    .owl-carousel {
      margin-left: 0 !important;
    }
  }
  footer {
    .address {
      margin-bottom: 30px;
    }
    .links-2 {
      margin-top: 40px;
    }
    .branches {
      margin-top: 40px !important;
    }
    .copyright {
      text-align: center;
    }
    .social-media {
      ul {
        display: flex !important;
        justify-content: center !important;
      }
    }
  }
}
// phone layout end

// small-phone layout start
@media (min-width: 500px) and (max-width: 575.98px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 80px 0 30px 0;
    background-color: white;
  }
  header {
    display: none;
  }
  nav {
    padding: 50px 0 30px 0;
    height: 50px !important;
    position: relative;
    .nav-button {
      display: inline-block !important;
      position: absolute;
      left: 50px;
      bottom: 4px;
    }
    .menu {
      padding-left: 55px !important;
      padding-right: 55px !important;
      padding-top: 25px;
      position: absolute;
      left: -9px;
      bottom: -310px;
      height: 300px;
      width: 103%;
      background-color: white;
      display: none;
      .submenu {
        position: absolute;
        top: 24px !important;
        left: 200px !important;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px !important;
        li {
          height: 45px;
        }
        :not(:last-of-type) {
          border-bottom: 1px solid LightGray;
        }
      }
    }
    .website-logo {
      width: 150px;
      display: inline-block;
      position: absolute;
      right: 215px;
      bottom: 14px;
    }
    .contact {
      display: none;
    }
  }
  #about {
    padding: 50px 20px 100px 33px !important;
    width: 100% !important;
    .text-sec {
      text-align: center !important;
      width: 100% !important;
      margin-top: 330px !important;
      padding-right: 28px;
      h2 {
        font-size: 22px;
      }
      ul {
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        li {
          margin-top: 20px;
          display: flex !important;
          justify-content: center !important;
        }
      }
    }
    .doctor-pic2 {
      padding-right: 0px !important;
      img {
        clip-path: none !important;
      }
      .video-box {
        height: 270px;
        padding: 50px 60px;
        left: 0 !important;
        bottom: -298px !important;
        text-align: center !important;
        .text {
          margin-top: 100px;
          h5 {
            font-weight: 600;
            color: black;
            font-size: 16px;
          }
          p {
            font-size: 15px;
          }
        }
        .video {
          position: absolute;
          left: 200px;
          top: 42px;
          .play-btn {
            a {
              i {
                &::after {
                  left: 40% !important;
                }
              }
            }
          }
        }
      }
    }
    .doctor-pic2 .video-box .video a i {
      &::after {
        left: 12% !important;
      }
    }
  }
  #choose-us {
    padding: 0px 45px;
    overflow: hidden;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
      vertical-align: middle;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        h2 {
          font-size: 26px !important;
        }
        padding: 50px 0 50px 20px;
        width: 108%;
        position: relative;
        top: -120px !important;
        left: -19px !important;
        ul {
          margin-bottom: 40px;
          li {
            width: 100%;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }
  #testomonials {
    overflow: hidden !important;
    padding-bottom: 60px;
    .caption {
      text-align: center;
      padding: 100px 0 100px 4px !important;
      .icon {
        position: absolute !important;
        top: 38px !important;
        left: 242px !important;
      }
    }
    .owl-carousel {
      margin-left: 0 !important;
    }
  }
  footer {
    padding: 60px 30px 0 20px !important;
    .address {
      margin-bottom: 30px;
    }
    .links-2 {
      margin-top: 40px;
    }
    .branches {
      margin-right: 10px !important;
      margin-top: 40px !important;
    }
    .copyright {
      text-align: center;
    }
    .social-media {
      ul {
        display: flex !important;
        justify-content: center !important;
      }
    }
  }
}
// small-phone layout end

// extra-small-phone layout start
@media (min-width: 400px) and (max-width: 450px) {
  header {
    display: none;
  }
  nav {
    padding: 50px 0 30px 0;
    height: 50px !important;
    position: relative;
    .nav-button {
      display: inline-block !important;
      position: absolute;
      left: 50px;
      bottom: 4px;
    }
    .menu {
      padding-left: 55px !important;
      padding-right: 55px !important;
      padding-top: 25px;
      position: absolute;
      left: -9px;
      bottom: -310px;
      height: 300px;
      width: 103%;
      background-color: white;
      display: none;
      .submenu {
        position: absolute;
        top: 35px !important;
        left: 190px !important;
        width: 210px !important;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px !important;
        li {
          height: 45px;
        }
        :not(:last-of-type) {
          border-bottom: 1px solid LightGray;
        }
      }
    }
    .website-logo {
      width: 150px;
      display: inline-block;
      position: absolute;
      right: 142px;
      bottom: 14px;
    }
    .contact {
      display: none;
    }
  }
  #about {
    padding: 50px 20px 100px 33px !important;
    width: 100% !important;
    .text-sec {
      text-align: center !important;
      width: 100% !important;
      margin-top: 330px !important;
      padding-right: 28px;
      h2 {
        font-size: 22px;
      }
      ul {
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        li {
          margin-top: 20px;
          display: flex !important;
          justify-content: center !important;
        }
      }
    }
    .doctor-pic2 {
      padding-right: 0px !important;
      img {
        clip-path: none !important;
      }
      .video-box {
        height: 270px;
        padding: 50px 60px;
        left: 0 !important;
        bottom: -298px !important;
        text-align: center !important;
        .text {
          margin-top: 100px;
          h5 {
            font-weight: 600;
            color: black;
            font-size: 16px;
          }
          p {
            font-size: 15px;
          }
        }
        .video {
          position: absolute;
          left: 140px;
          top: 42px;
          .play-btn {
            a {
              i {
                &::after {
                  left: 40% !important;
                }
              }
            }
          }
        }
      }
    }
    .doctor-pic2 .video-box .video a i {
      &::after {
        left: 12% !important;
      }
    }
  }
  #choose-us {
    padding: 0px 45px;
    overflow: hidden;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
      vertical-align: middle;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        h2 {
          font-size: 26px !important;
        }
        padding: 50px 0 50px 20px;
        width: 111%;
        position: relative;
        top: -120px !important;
        left: -19px !important;
        ul {
          margin-bottom: 40px;
          width: 100% !important;
          display: flex;
          flex-direction: column;
          li {
            width: 100% !important;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }
  #testomonials {
    overflow: hidden !important;
    padding-bottom: 60px;
    .caption {
      text-align: center;
      padding: 100px 0 100px 4px !important;
      .icon {
        position: absolute !important;
        top: 38px !important;
        left: 242px !important;
      }
    }
    .owl-carousel {
      margin-left: 0 !important;
    }
  }
  footer {
    padding: 60px 30px 0 20px !important;
    .address {
      margin-bottom: 30px;
    }
    .links-2 {
      margin-top: 40px;
    }
    .branches {
      margin-right: 10px !important;
      margin-top: 40px !important;
    }
    .copyright {
      text-align: center;
    }
    .social-media {
      ul {
        display: flex !important;
        justify-content: center !important;
      }
    }
  }
}
// extra-small-phone layout start

// extra-small-phone2 layout start
@media (min-width: 300px) and (max-width: 399.98px) {
  header {
    display: none;
  }
  nav {
    padding: 50px 0 30px 0;
    height: 50px !important;
    position: relative;
    .nav-button {
      display: inline-block !important;
      position: absolute;
      left: 50px;
      bottom: 4px;
    }
    .menu {
      padding-left: 55px !important;
      padding-right: 55px !important;
      padding-top: 25px;
      position: absolute;
      left: -9px;
      bottom: -310px;
      height: 300px;
      width: 103%;
      background-color: white;
      display: none;
      .submenu {
        position: absolute;
        top: 35px !important;
        left: 170px !important;
        width: 200px !important;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px !important;
        li {
          height: 45px;
        }
        :not(:last-of-type) {
          border-bottom: 1px solid LightGray;
        }
      }
    }
    .website-logo {
      width: 150px;
      display: inline-block;
      position: absolute;
      right: 130px;
      bottom: 14px;
    }
    .contact {
      display: none;
    }
  }
  #about {
    padding: 50px 20px 100px 33px !important;
    width: 100% !important;
    .text-sec {
      text-align: center !important;
      width: 100% !important;
      margin-top: 330px !important;
      padding-right: 28px;
      h2 {
        font-size: 22px;
      }
      ul {
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        li {
          margin-top: 20px;
          display: flex !important;
          justify-content: center !important;
        }
      }
    }
    .doctor-pic2 {
      padding-right: 0px !important;
      img {
        clip-path: none !important;
      }
      .video-box {
        height: 270px;
        padding: 50px 50px;
        left: 0 !important;
        bottom: -298px !important;
        text-align: center !important;
        .text {
          margin-top: 100px;
          h5 {
            font-weight: 600;
            color: black;
            font-size: 16px;
          }
          p {
            font-size: 15px;
          }
        }
        .video {
          position: absolute;
          left: 130px;
          top: 42px;
          .play-btn {
            a {
              i {
                &::after {
                  left: 40% !important;
                }
              }
            }
          }
        }
      }
    }
    .doctor-pic2 .video-box .video a i {
      &::after {
        left: 12% !important;
      }
    }
  }
  #choose-us {
    padding: 0px 45px;
    overflow: hidden;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
      vertical-align: middle;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        h2 {
          font-size: 24px !important;
        }
        padding: 50px 0 50px 20px;
        width: 111%;
        position: relative;
        top: -120px !important;
        left: -19px !important;
        ul {
          margin-bottom: 40px;
          width: 100% !important;
          display: flex;
          flex-direction: column;
          li {
            width: 100% !important;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }
  #testomonials {
    overflow: hidden !important;
    padding-bottom: 60px;
    .caption {
      text-align: center;
      padding: 100px 0 100px 4px !important;
      .icon {
        position: absolute !important;
        top: 38px !important;
        left: 144px !important;
      }
    }
    .owl-carousel {
      margin-left: 0 !important;
    }
  }
  footer {
    padding: 60px 30px 0 20px !important;
    .address {
      margin-bottom: 30px;
    }
    .links-2 {
      margin-top: 40px;
    }
    .branches {
      margin-right: 10px !important;
      margin-top: 40px !important;
    }
    .copyright {
      text-align: center;
    }
    .social-media {
      ul {
        display: flex !important;
        justify-content: center !important;
      }
    }
  }
}
// extra-small-phone2 layout end

// WEB-SITE RESPONSIVE END
