// importing partials and reused sections
@import "../scss/partials/extends";
@import "../scss/reused_parts/header";
@import "../scss/reused_parts/navbar";
@import "../scss/reused_parts/common-features";
@import "../scss/reused_parts/loader";
@import "../scss/reused_parts/footer";
@import "../scss/reused_parts/breadcrumb";


// main start
main {
  overflow: hidden;
  // news-section start
  #news {
    background-color: #f7f7f7;
    padding: 120px 0 100px 0;
    .item {
      margin-bottom: 30px;
      .img-box {
        position: relative;
        .date {
          position: absolute;
          left: 30px;
          top: 165px;
          height: 70px;
          width: 80px;
          background: #1ebeb6;
          text-align: center;
          color: #ffffff;
          font-size: 16px;
          padding: 15px 20px 0 20px;
          line-height: 20px;
          font-weight: 600;
          border-radius: 5px 5px 0 5px;
          &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -10px;
            border-right: 15px solid #1ebeb6;
            border-bottom: 15px solid transparent;
            border-top: 0;
          }
        }
      }
      .info {
        padding: 30px 30px 20px 30px;
        background: #ffffff;
        box-shadow: 0 0 10px #e4dfda;
        .tags {
          ul {
            display: flex;
            list-style: none;
            li {
              margin-bottom: 5px;
              color: #1ebeb6;
              a {
                color: #666666;
                font-weight: 400;
                font-size: 15px;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
        h4 {
          font-size: 22px;
          font-weight: 600;
          a {
            color: #233645;
            &:hover {
              color: #1ebeb6;
              text-decoration: none;
              transition: 0.3s linear;
            }
          }
        }
        p {
          padding-top: 10px;
          color: #666666;
          font-size: 15px;
          line-height: 30px;
        }
        .bottom {
          margin-top: 25px;
          padding-top: 20px;
          border-top: 1px solid #e7e7e7;
          ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
              a {
                &:hover {
                  color: #1ebeb6;
                  text-decoration: none;
                  transition: 0.3s linear;
                }
                img {
                  height: 45px;
                  width: 45px;
                  border-radius: 50%;
                  margin-right: 6px;
                }
                span {
                  color: #666666;
                  font-size: 15px;
                  font-weight: 600;
                  &:hover {
                    color: #1ebeb6;
                    text-decoration: none;
                    transition: 0.3s linear;
                  }
                }
              }
              .comments {
                font-size: 15px;
                font-weight: 600;
                color: #666666;
                i {
                  color: #1ebeb6;
                }
              }
            }
          }
        }
      }
    }
    nav {
      z-index: 10 !important;
      .pagination {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        li {
          a {
            display: inline-block;
            padding: 15px 20px;
            margin: 5px;
            margin-bottom: 0;
            border-radius: 10px;
            color: #1ebeb6;
          }
          a.active {
            color: white;
            background-color: #1ebeb6;
          }
        }
      }
    }
  }
  // news-section end
}
// main end


// ======= Responsive Design Start ======= //
@media (min-width: 992px) and (max-width: 1199.98px) {
  #news {
    .item {
      .date {
        left: 32px !important;
        top: 125px !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #news {
    padding: 90px 0 60px 0 !important;
    .item {
      .date {
        left: 35px !important;
        top: 145px !important;
      }
    }
    nav {
      padding: 40px !important;
      .pagination {
        padding-top: 0 !important;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #news {
    padding: 60px 0 60px 0 !important;
    .item {
      .date {
        left: 45px !important;
        top: 255px !important;
      }
    }
    nav {
      padding: 40px !important;
      .pagination {
        padding-top: 0 !important;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #news {
    padding: 60px 0 50px 0 !important;
    .item {
      .date {
        left: 45px !important;
        top: calc(100% - 110px) !important;
      }
    }
    nav {
      padding: 20px !important;
      .pagination {
        padding-top: 0 !important;
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 374.98px) {
  #news {
    padding: 60px 0 50px 0 !important;
    .item {
      .date {
        left: 20px !important;
        top: calc(100% - 100px) !important;
      }

      .info{
        padding: 30px 15px 20px 16px !important;
      }
    }
    nav {
      padding: 20px !important;
      .pagination {
        padding-top: 0 !important;
        li{
          a{
            padding: 12px 17px !important;
          }
        }
      }
    }
  }
}
// ======= Responsive Design End ======= //
