@import "../scss/partials/extends";
@import "../scss/reused_parts/header";
@import "../scss/reused_parts/navbar";
@import "../scss/reused_parts/common-features";
@import "../scss/reused_parts/loader";
@import "../scss/reused_parts/footer";
@import "../scss/reused_parts/contact";
@import "../scss/reused_parts/breadcrumb";


// main start
main {
  overflow: hidden;
  // google-maps start
  .maps-area {
    height: 100%;
    iframe {
      width: 100%;
      height: 550px;
    }
  }
  // google-maps end
}
// main end


// ======= Responsive Design Start ======= //
@media (min-width: 375px) and (max-width: 575.98px) {
  .maps-area {
    height: 100%;
    iframe {
      width: 100%;
      height: 350px;
    }
  }
}

@media (min-width: 300px) and (max-width: 374.98px) {
  .maps-area {
    height: 100%;
    iframe {
      width: 100%;
      height: 350px;
    }
  }
}
// ======= Responsive Design End ======= //