@import "../scss/partials/extends";
@import "../scss/reused_parts/header";
@import "../scss/reused_parts/navbar";
@import "../scss/reused_parts/common-features";
@import "../scss/reused_parts/loader";
@import "../scss/reused_parts/footer";
@import "../scss/reused_parts/consultation";
@import "../scss/reused_parts/departments-services";
@import "../scss/reused_parts/breadcrumb";


// main start
main {
  overflow: hidden;

  // services start
  #services {
    padding-bottom: 160px;
  }
  // services end

  // fun-factor area start
  #fun-factor {
    .fun-fact-items {
      background-image: url(../img/back-pic1.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #7e7a7a;
      height: 300px;
      z-index: 10;
      opacity: 1;
      position: relative;
      top: -67px;
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      .fun-fact {
        h3 {
          color: white;
          span {
            font-size: 38px;
            font-weight: 700;
          }
        }
        span {
          color: white;
          font-size: 15px;
          font-weight: 700;
        }
      }
    }
  }
  // fun-factor area end

  // consultation start
  #consultation {
    padding: 60px 0 120px;
  }
  // consultation end
}
// main end



// ======= Responsive Design Start ======= //
@media (min-width: 768px) and (max-width: 991.98px) {
  #fun-factor {
    .fun-fact-items {
      height: 450px !important;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    span {
      color: white;
      font-size: 14px;
      font-weight: 700;
    }
  }

  #consultation{
    padding: 0 0 120px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #fun-factor {
    .fun-fact-items {
      height: 750px !important;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #services{
    padding-top: 90px !important;
  }
  #fun-factor {
    .fun-fact-items {
      height: 750px !important;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 20px;
    }
  }
  #consultation {
    padding: 30px 20px 80px 20px !important;
  }
}

@media (min-width: 300px) and (max-width: 374.98px) {
  #services{
    padding: 80px 0 140px !important;
  }
  #fun-factor {
    .fun-fact-items {
      height: 700px !important;
      padding: 60px 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  #consultation {
    padding: 30px 20px 70px 20px !important;
  }
}
// ======= Responsive Design End ======= //
