@import "../scss/reused_parts/header";
@import "../scss/reused_parts/navbar";
@import "../scss/reused_parts/common-features";
@import "../scss/reused_parts/loader";
@import "../scss/reused_parts/footer";
@import "../scss/reused_parts/about";
@import "../scss/reused_parts/testimonials";
@import "../scss/reused_parts/consultation";
@import "../scss/reused_parts/doctors";
@import "../scss/reused_parts/contact";



main {
  // banner section start
  #banner {
    overflow: hidden;
    position: relative;

    .carousel-control-prev {
      position: absolute;
      left: -150px;
    }
    .carousel-control-next {
      position: absolute;
      right: -150px;
    }
    img {
      width: 100%;
      height: 668px;
      object-fit: cover;
      animation: zoom 20s;
    }
    .carousel-item {
      position: relative;
      .layer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.288);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 200px;
        color: white;

        h4 {
          font-weight: 600;
          font-size: 22px;
          padding-bottom: 25px;
        }
        h1 {
          font-weight: 300;
          font-size: 80px;
          line-height: 1;
          padding-bottom: 45px;
          strong {
            font-weight: 700;
          }
        }
        i {
          font-size: 145px;
          position: absolute;
          top: 16%;
          left: 150px;
          opacity: 0.3;
        }

        .btn-box {
          .banner-btn {
            color: white;
            font-size: 17px;
            border-radius: 5px;
            position: relative;
            padding: 17px 28px 17px 65px;
            display: inline-block;
            font-weight: 700;
            line-height: 25px;
            overflow: hidden;
            z-index: 0;
            .icon-2 {
              font-size: 14px;
              height: 30px;
              width: 30px;
              line-height: 30px;
              border-radius: 50%;
              color: #1ebeb6;
              background: #ffffff;
              text-align: center;
              z-index: 1;
              margin-left: 33px;
              position: absolute;
              top: 13px;
              left: -7px;
              opacity: 1;
            }
            &:hover {
              text-decoration: none;
            }
            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              background: linear-gradient(
                90deg,
                rgba(30, 190, 182, 1) 0%,
                rgba(0, 130, 124, 1) 100%
              );
              transition: all 0.35s ease-in-out;
              z-index: -1;
              box-shadow: 0 0 10px rgba(255, 136, 0, 0.5),
                inset 0 0 1px 1px #1ebeb6;
            }
          }
        }
      }
    }
    @keyframes zoom {
      from {
        transform: scale(1, 1);
      }

      to {
        transform: scale(1.2, 1.2);
      }
    }
  }
  // banner section end

  // entry section start
  #entry {
    z-index: 1;
    padding: 120px 0 120px 0;
    background-color: #ffffff;
    .box {
      i {
        display: inline-block;
        font-size: 40px;
        margin-bottom: 40px;
        color: #1ebeb6;
        height: 100px;
        width: 100px;
        line-height: 100px;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        &::after {
          position: absolute;
          left: -10px;
          top: -10px;
          content: "";
          height: 120px;
          width: 120px;
          background: url(https://webhunt.store/themeforest/healdi/assets/img/shape/3.svg);
          background-size: contain;
          z-index: -2;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      h4 {
        font-size: 22px;
        font-weight: 600;
      }
      p {
        color: #767676;
        font-size: 15px;
        line-height: 28px;
        border-bottom: 1px dashed #cccccc;
      }
      .phone {
        span {
          color: #767676;
        }
        p {
          color: #666666;
          font-size: 15px;
          font-weight: 600;
          border: none;
        }
      }
    }
    .doctor-pic {
      position: relative;
      z-index: 1;
      &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        height: 300px;
        width: 300px;
        background: #1ebeb6;
        z-index: -1;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
      &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        height: 350px;
        width: 350px;
        background: #1ebeb6;
        z-index: -1;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        opacity: 0.1;
      }
      img {
        vertical-align: middle;
      }
    }
  }
  // entry section end

  // services section start
  #services {
    overflow: hidden;
    padding-bottom: 120px;
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
    .shape {
      img {
        opacity: 0.1;
        position: absolute;
        left: 0;
        top: 55px;
        height: 100%;
        width: 100%;
      }
    }
    .services-caption {
      padding-bottom: 60px;
      h4 {
        color: #1ebeb6;
        font-weight: 600;
        font-size: 22px;
      }
      h2 {
        display: inline-block;
        font-weight: 600;
        padding-bottom: 20px;
        margin-bottom: 0;
        position: relative;
        letter-spacing: 1px;
        color: #233645;
        &::before {
          background: #1ebeb6 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 3px;
          left: 50%;
          margin-left: -25px;
          position: absolute;
          width: 40px;
        }
        &::after {
          background: #1ebeb6 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 3px;
          left: 50%;
          margin-left: 20px;
          position: absolute;
          width: 5px;
        }
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        margin: 0;
        padding: 0 20px;
        color: #666666;
      }
    }

    .item {
      box-shadow: 0 0 10px #e7e7e7;
      background: #ffffff;
      overflow: hidden;
      z-index: 0;
      .img-box {
        margin: 10px;
        margin-bottom: 0;
        width: 350px;
        img {
          width: 100%;
        }
      }
      .info {
        padding: 30px;
        position: relative;
        &::after {
          content: "";
          height: 150px;
          width: 150px;
          position: absolute;
          right: -50px;
          bottom: -80px;
          background: url(../img/shape2.png);
          background-size: contain;
          z-index: 0;
          background-repeat: no-repeat;
          transform: rotate(-45deg);
          opacity: 0.3;
        }
        h4 {
          margin-bottom: 15px;
          a {
            color: #233645;
            font-size: 22px;
            font-weight: 700;
          }
        }
        p {
          font-size: 15px;
          line-height: 30px;
          color: #666666;
        }
        .slide-footer {
          p {
            strong {
              color: #232323;
              font-weight: 600;
            }
            color: #525252;
          }
        }
        .link {
          a {
            i {
              height: 45px;
              width: 45px;
              line-height: 45px;
              text-align: center;
              background: linear-gradient(
                90deg,
                rgba(30, 190, 182, 1) 0%,
                rgba(0, 130, 124, 1) 100%
              );
              color: #ffffff;
              border-radius: 50%;
              position: relative;
              z-index: 1;
              // font-size: 14px;
              &::after {
                content: "";
                opacity: 0.5;
                position: absolute;
                left: -10%;
                top: -10%;
                height: 120%;
                width: 120%;
                border-radius: 50%;
                background-color: #1ebeb6;
                z-index: -1;
              }
            }
          }
        }
      }
    }

    button {
      margin-top: 20px;
      outline: none;

      span {
        display: block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        border-radius: 50%;
        background: #ffffff;
        position: relative;
        z-index: 1;
        border: 2px solid #cccccc;
      }
    }
    .owl-dot.active span {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        height: 5px;
        width: 5px;
        transform: translate(-50%, -50%);
        background: #1ebeb6;
        border-radius: 50%;
      }
    }
  }
  // services section end

  // choose-us section start
  #choose-us {
    overflow: hidden;
    .bg-cover {
      background-image: url(../img/doctor3.jpg);
      height: 839px;
      width: 100% !important;
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat;
    }
    .info-box-holder {
      padding: 120px 0 100px 0;
      .info-box {
        padding: 80px 50px;
        background: #ffffff;
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
        position: relative;
        left: -120px;
        border-bottom: 3px solid #1ebeb6;
        &::after {
          position: absolute;
          right: -120px;
          top: -120px;
          content: "";
          height: 300px;
          width: 300px;
          background: url(../img/dotted-shape.png);
          z-index: -1;
          background-repeat: no-repeat;
          opacity: 0.2;
        }
        h5 {
          color: #1ebeb6;
          font-weight: 600;
          margin-bottom: 25px;
          font-size: 20px;
        }
        h2 {
          font-weight: 600;
          margin-bottom: 25px;
          font-size: 32px;
        }
        p {
          font-size: 15px;
          line-height: 30px;
          color: #666666;
        }
        .par {
          padding-bottom: 30px;
        }
        .btn2 {
          height: 100%;
          width: 100%;
          background: linear-gradient(
            90deg,
            rgba(30, 190, 182, 1) 0%,
            rgba(0, 130, 124, 1) 100%
          );
          z-index: 1;
          color: #ffffff;
          padding: 20px 25px;
          font-weight: 700;
          transition: 0.3s linear;
          overflow: hidden;
          font-size: 17px;
          i {
            font-size: 14px;
            height: 30px;
            background: #ffffff;
            color: #1ebeb6;
            line-height: 30px;
            text-align: center;
            width: 30px;
            border-radius: 50%;
            margin-right: 5px;
            &:hover {
              text-decoration: none !important;
            }
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  // choose-us section end

  // news-section start
  #news {
    background-color: #f7f7f7;
    padding: 120px 0 120px 0;
    overflow: hidden;
    .site-heading {
      padding-bottom: 60px;
      h4 {
        color: #1ebeb6;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      h2 {
        font-size: 32px;
        font-weight: 600;
        padding-bottom: 20px;
        margin-bottom: 0;
        position: relative;
        letter-spacing: 1px;
        &::before {
          content: "";
          background: #1ebeb6;
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 2px;
          width: 40px;
          margin-left: -25px;
        }
        &::after {
          content: "";
          background: #1ebeb6;
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 2px;
          width: 5px;
          margin-left: 20px;
        }
      }
      p {
        font-size: 15px;
        color: #666666;
        margin: 0;
        margin-top: 20px;
        padding: 0 20px;
        line-height: 30px;
      }
    }
    .item {
      .date {
        position: absolute;
        left: 43px;
        top: 165px;
        height: 70px;
        width: 80px;
        background: #1ebeb6;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        padding: 15px 20px 0 20px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 5px 5px 0 5px;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: -10px;
          border-right: 15px solid #1ebeb6;
          border-bottom: 15px solid transparent;
          border-top: 0;
        }
      }
      .info {
        padding: 30px 30px 20px 30px;
        background: #ffffff;
        box-shadow: 0 0 10px #e4dfda;
        .tags {
          ul {
            display: flex;
            list-style: none;
            li {
              margin-bottom: 5px;
              a {
                color: #666666;
                font-weight: 400;
                font-size: 15px;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
        h4 {
          font-size: 22px;
          font-weight: 600;
          a {
            color: #233645;
            &:hover {
              color: #1ebeb6;
              text-decoration: none;
              transition: 0.3s linear;
            }
          }
        }
        .bottom {
          margin-top: 25px;
          padding-top: 20px;
          border-top: 1px solid #e7e7e7;
          ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
              a {
                &:hover {
                  color: #1ebeb6;
                  text-decoration: none;
                  transition: 0.3s linear;
                }
                img {
                  height: 45px;
                  width: 45px;
                  border-radius: 50%;
                  margin-right: 6px;
                }
                span {
                  color: #666666;
                  font-size: 15px;
                  font-weight: 600;
                  &:hover {
                    color: #1ebeb6;
                    text-decoration: none;
                    transition: 0.3s linear;
                  }
                }
              }
              .comments {
                font-size: 15px;
                font-weight: 600;
                color: #666666;
                i {
                  color: #1ebeb6;
                }
              }
            }
          }
        }
      }
    }
  }
  // news-section end
}



// ======= Responsive Design Start ======= //
@media (min-width: 768px) and (max-width: 991.98px) {
  #banner {
    img {
      height: 580px !important;
    }
    .carousel-item {
      .layer {
        padding: 0px 40px !important;
        .fa-heartbeat {
          top: 70px !important;
          left: 15px !important;
        }
      }
    }
  }
  #entry {
    .box {
      margin-top: 40px;
      margin-bottom: 35px;
      padding: 0 20px !important;
    }
    .box-1 {
      width: 100%;
    }
  }
  #services {
    .services-caption {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-size: 18px !important;
      }
      h2 {
        font-size: 26px !important;
      }
      p {
        font-size: 14px !important;
      }
    }

    .item {
      margin: 0 25px;
      .img-box {
        width: 680px !important;
      }
    }
  }
  #choose-us {
    max-width: 766px;
    width: 100%;
    margin: auto;
    padding: 0 39px 0 44px;
    .bg-cover {
      height: 300px !important;
      background-position: center center !important;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        width: 100%;
        position: relative;
        top: -120px !important;
        left: 0 !important;
        &::after {
          display: none;
        }
      }
    }
  }
  #news {
    .item {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #banner {
    img {
      height: 350px !important;
    }
    .carousel-item {
      .layer {
        text-align: center;
        padding: 0px 40px !important;
        h4 {
          font-size: 18px !important;
        }
        h1 {
          font-size: 36px !important;
        }
        .fa-heartbeat {
          top: 20px !important;
          left: calc(50% - 70px) !important;
        }
      }
    }
  }
  #entry {
    .box {
      margin-top: 40px;
      margin-bottom: 35px;
      padding: 0 20px !important;
    }
    .box-1 {
      width: 100%;
    }
  }
  #services {
    padding: 100px 30px !important;
    .services-caption {
      padding-bottom: 40px !important;
      h4 {
        font-size: 18px !important;
      }
      h2 {
        font-size: 22px !important;
      }
      p {
        font-size: 14px !important;
      }
    }
    .item {
      .img-box {
        width: 96% !important;
      }
    }
  }
  #choose-us {
    max-width: 570px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        position: relative;
        top: -120px !important;
        left: -1px !important;
        &::after {
          display: none;
        }
      }
    }
  }
  #news {
    padding: 60px 25px 60px 25px !important;
    .site-heading {
      h4 {
        font-size: 18px !important;
      }
      h2 {
        font-size: 26px !important;
      }
    }

    .item {
      .img-box {
        .date {
          top: 275px !important;
        }
      }
      .info {
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #banner {
    img {
      height: 350px !important;
    }
    .carousel-item {
      .layer {
        text-align: center;
        padding: 0px 40px !important;
        h4 {
          font-size: 18px !important;
        }
        h1 {
          font-size: 36px !important;
        }
        .fa-heartbeat {
          top: 20px !important;
          left: calc(50% - 70px) !important;
        }
      }
    }
  }
  #entry {
    padding: 60px 0 40px !important;
    .box {
      margin-top: 40px;
      margin-bottom: 35px;
      padding: 0 20px !important;
    }
    .box-1 {
      width: 100%;
    }
  }
  #services {
    padding: 75px 30px !important;
    .services-caption {
      padding-bottom: 40px !important;
      h4 {
        font-size: 18px !important;
      }
      h2 {
        font-size: 22px !important;
      }
      p {
        font-size: 14px !important;
        padding: 0 !important;
      }
    }
    .item {
      .img-box {
        width: 100% !important;
        padding-right: 20px;
      }
    }
  }
  #choose-us {
    padding: 0 20px;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        position: relative;
        padding: 50px 30px !important;
        top: -120px !important;
        left: -1px !important;
        &::after {
          display: none;
        }
      }
    }
  }
  #news {
    padding: 60px 25px 60px 25px !important;
    .site-heading {
      h4 {
        font-size: 18px !important;
      }
      h2 {
        font-size: 26px !important;
      }

      p {
        padding: 0 !important;
      }
    }
    .item {
      .img-box {
        .date {
          top: calc(65% - 200px) !important;
        }
      }
      .info {
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 374.98px) {
  #banner {
    img {
      height: 350px !important;
    }
    .carousel-item {
      .layer {
        text-align: center;
        padding: 0px 40px !important;
        h4 {
          font-size: 18px !important;
        }
        h1 {
          font-size: 36px !important;
        }
        .fa-heartbeat {
          top: 20px !important;
          left: calc(50% - 70px) !important;
        }
      }
    }
  }
  #entry {
    padding: 60px 0 40px !important;
    .box {
      margin-top: 40px;
      margin-bottom: 35px;
      padding: 0 20px !important;
    }
    .box-1 {
      width: 100%;
    }

    .doctor-pic{
      &::before{
        display: none !important;
      }
      &::after{
        height: 270px !important;
        width: 270px !important;
      }
    }
  }
  #services {
    padding: 75px 30px !important;
    .services-caption {
      padding-bottom: 40px !important;
      h4 {
        font-size: 18px !important;
      }
      h2 {
        font-size: 22px !important;
      }
      p {
        font-size: 14px !important;
        padding: 0 !important;
      }
    }
    .item {
      .img-box {
        width: 100% !important;
        padding-right: 20px;
      }
    }
  }
  #choose-us {
    padding: 0 20px;
    .bg-cover {
      overflow: hidden !important;
      height: 300px !important;
      background-position: center center !important;
    }
    .info-box-holder {
      padding-bottom: 0 !important;
      .info-box {
        position: relative;
        padding: 40px 20px !important;
        top: -120px !important;
        left: -1px !important;
        &::after {
          display: none;
        }

        h5{
          font-size: 16px !important;
        }

        h2{
          font-size: 25px !important;
        }
      }
    }
  }
  #news {
    padding: 60px 25px 60px 25px !important;
    .site-heading {
      h4 {
        font-size: 18px !important;
      }
      h2 {
        font-size: 26px !important;
      }

      p {
        padding: 0 !important;
      }
    }
    .item {
      .img-box {
        .date {
          left: 30px !important;
          top: calc(65% - 246px) !important;
        }
      }
      .info {
        margin-bottom: 30px;

        h4{
          font-size: 20px !important;
        }
      }
    }
  }
}
// ======= Responsive Design End ======= //
