// services
#department-services {
  padding-bottom: 160px;
}

// fun-factor area
#fun-factor {
  .fun-fact-items {
    background-image: url(../img/back-pic1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7e7a7a;
    height: 300px;
    z-index: 10;
    opacity: 1;
    position: relative;
    top: -67px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    .fun-fact {
      h3 {
        color: white;
        span {
          font-size: 38px;
          font-weight: 700;
        }
      }
      span {
        color: white;
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
}

// ======= Responsive Design ======= //
@media (min-width: 768px) and (max-width: 991.98px) {
  #fun-factor {
    .fun-fact-items {
      height: 450px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    span {
      color: white;
      font-size: 14px;
      font-weight: 700;
    }
  }

  #consultation {
    padding: 0 0 120px !important;
  }
}

@media screen and (max-width: 767.98px) {
  #department-services {
    padding: 60px 0 120px;
  }

  #fun-factor {
    .fun-fact-items {
      height: 750px;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  #consultation {
    padding: 0 0 70px;
  }
}

@media screen and (max-width: 575.98px) {
  #fun-factor {
    .fun-fact-items {
      margin: 0 20px;
    }
  }

  #consultation {
    padding: 0px 20px 65px;

    .main-holder {
      p {
        padding-bottom: 5px !important;
      }
    }
  }
}

@media screen and (max-width: 374.98px) {
  #department-services {
    padding: 60px 0 110px;
  }

  #consultation {
    padding: 0px 20px 70px;
  }
}