// footer
footer {
  background: #001d4c;

  .footer-top {
    padding: 120px 0 0 0;
    .about {
      img {
        margin-bottom: 30px;
      }
      p {
        font-size: 15px;
        color: #96aac1;
        line-height: 30px;
        padding-bottom: 10px;
      }
      .address {
        display: flex;
        .first-li {
          padding-bottom: 30px;
        }
        .icon {
          display: inline-block;
          i {
            color: white;
            font-size: 30px;
            width: 50px;
          }
        }
        .info {
          display: inline-block;
          h5 {
            color: white;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 18px;
          }
          span {
            color: #96aac1;
          }
        }
      }
    }
    .links {
      h4 {
        color: white;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 22px;
      }
      ul {
        list-style: none;
        li {
          margin-bottom: 15px;
          position: relative;
          z-index: 1;
          padding-left: 20px;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 12px;
            height: 6px;
            width: 6px;
            background: #96aac1;
            z-index: 1;
            border-radius: 50%;
          }
          a {
            color: #96aac1;
            font-weight: 600;
            font-size: 15px;
            line-height: 30px;
            &:hover {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
    .branches {
      background-color: #0d2955;
      padding: 35px;
      margin-left: 15px;
      border-bottom: 2px solid #1ebeb6;
      ul {
        list-style: none;
        li {
          strong {
            font-size: 15px;
            display: block;
            margin-bottom: 5px;
            color: #ffffff;
          }
          span {
            color: #96aac1;
            font-size: 15px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 120px;
    border-top: 1px solid #213a64;
    padding: 25px 0 15px 0;
    background-color: #082452;
    .copyright {
      p {
        font-size: 15px;
        font-weight: 400;
        color: white;
        a {
          font-weight: 600;
          color: white;
        }
      }
    }
    .social-media {
      ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
          padding-left: 20px;
          a {
            font-size: 15px;
            color: white;
            font-weight: 600;
            i {
              padding-right: 5px;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// ===== Responsive Design ===== //
@media screen and (max-width: 991.98px) {
  footer {
    .footer-top {
      padding: 120px 0 0 15px;

      .links-2 {
        margin-top: 40px;
      }
      .branches {
        margin: 40px 30px 0 15px;
      }
    }

    .footer-bottom {
      .copyright {
        text-align: center;
      }
      .social-media {
        ul {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  footer {
    .footer-top {
      padding: 120px 25px 0;

      .address {
        margin-bottom: 30px;
      }
      .branches {
        margin: 40px 15px 0;
      }
    }

    .footer-bottom {
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 575.98px) {
  footer {
    padding: 60px 0 0;

    .footer-top {
      padding: 20px 25px 0;

      .branches {
        margin: 40px 5px 0;
      }
    }

    .footer-bottom {
      .social-media {
        li {
          &:first-of-type {
            padding-left: 0 !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 374.98px) {
  footer {
    .footer-top {
      .info {
        span {
          font-size: 15px;
        }
      }
    }

    .footer-bottom {
      .social-media {
        li {
          a {
            font-size: 13px !important;
          }
        }
      }
    }
  }
}